.sidenav{
    border-right: 1px solid #f5f6f8;
    width: 274px;
    min-height: 100vh;
    float: left;
    clear: both;
    position: relative;
}
.sidenav ul{
    list-style: none;
    padding: 0;
}
.sidenav li {
    width: 271px;
    background-color: #fff;
    border-right: 3px solid transparent;
    background-repeat: no-repeat;
    padding: 20px 35px 20px 60px;
    background-position-y: center;
    background-position-x: 20px;
    cursor: pointer;
    color: #36445b;
    transition: 0.5s ease all;
    position: relative;
}
.sidenav li:hover {
    background-color: #3476ee;
    color: #fff;
}
.sidenav li .arrow{
    width: 19px;
    height: 6px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.sidenav-bottom-elements{
    position: absolute;
    bottom: 0;
}
.icon0:hover{
    background-image: url("https://raw.githubusercontent.com/shahaadesh5/Edkent-dashboard-react/main/dashboard-ui/public/images/icons/monitor-overlay.png") !important;
}
.icon1:hover{
    background-image: url("https://raw.githubusercontent.com/shahaadesh5/Edkent-dashboard-react/main/dashboard-ui/public/images/icons/icon2-overlay.png") !important;
}
.icon2:hover{
    background-image: url("https://raw.githubusercontent.com/shahaadesh5/Edkent-dashboard-react/main/dashboard-ui/public/images/icons/library.png") !important;
}
.icon3:hover{
    background-image: url("https://raw.githubusercontent.com/shahaadesh5/Edkent-dashboard-react/main/dashboard-ui/public/images/icons/icon4-overlay.png") !important;
}
.icon4:hover{
    background-image: url("https://raw.githubusercontent.com/shahaadesh5/Edkent-dashboard-react/main/dashboard-ui/public/images/icons/icon5-overlay.png") !important;
}
.icon5:hover{
    background-image: url("https://raw.githubusercontent.com/shahaadesh5/Edkent-dashboard-react/main/dashboard-ui/public/images/icons/icon6-overlay.png") !important;
}
.icon7:hover{
    background-image: url("https://raw.githubusercontent.com/shahaadesh5/Edkent-dashboard-react/main/dashboard-ui/public/images/icons/diamond-overlay.png") !important;
}
.sidenav-bottom-elements .settings{
    background-color: #e6f2ff;
    border-right: 3px solid #2569e6;
    background-repeat: no-repeat;
    padding: 40px 35px 40px 60px;
    background-position-y: center;
    background-position-x: 20px;
    cursor: pointer;
    color: #36445b;

}