@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.primary-color{
  color: #2569e6;
}
.page-adjust{
  margin-top: 90px;
}
.pull-right{
  float: right;
}
.container{
  clear: both;
  overflow: hidden;
}